body {
    background-size: cover;
    background-position: center;
}

.heading {
    background-color: black;
    color: aliceblue;
    margin-top: 0px;
}

button {
    color: blue;
    background-color:black;
    border-radius: 3px;
    border-color: wheat;
    width: 200px;
    height: 70;
    font-size: 25;
}